.small-screen-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  
  &__main {
    flex-grow: 1;
    overflow-y: auto;
  }

  &__nav {
    position: sticky;
    bottom: 0;
    //background-color: #fff; // Set a background color to ensure it's visible
    //box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); // Optional: Add a shadow to distinguish it
    z-index: 10; // Ensure it stays on top of the content
  }
}
