@use "../base/global";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding: 0.5rem 0.25rem;
  box-shadow:
    rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;

  &--blue {
    background-color: global.$primary-blue;
  }

  &--green {
    background-color: global.$primary-green;
  }

  &--red {
    background-color: global.$secondary-red;
  }

  &--login {
    flex-grow: 1;
    background-color: global.$primary-green;
  }

  &--back {
    border: none;
    background-color: transparent;
  }

  &--edit {
    padding: 0.125rem;
    border-radius: 5px;
    border: 1px solid black;
    background-color: transparent;

    & img {
      display: block;
      width: 1em;
    }
  }

  &--category {
    flex-grow: 1;

    &:first-child {
      border-radius: 1rem 0 0 1rem;
    }

    &:last-child {
      border-radius: 0 1rem 1rem 0;
    }

    &.active{
      background-color: global.$primary-blue;
    }

    &.inactive {
      background-color: global.$secondary-blue;
      opacity: 0.5;
    }
  }

  &--source {
    background-color: var(--envelope-color);
    
    &.active{
      outline: 1px solid black;
    }

    &.inactive {
      opacity: 0.5;
    }

    &--savings {
      background-color: navy;
      color: white;
    }
  }

  &--new-expense {
    width: 3rem;
    height: 3rem;
    background-color: global.$primary-blue;

    & img {
      display: block;
      width: 1.5rem;
    }
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.6;
  }

  &.disabled {
    pointer-events: none;

    background-color: transparent;
    color: gray;
  }

  &__gear-icon {
    display: inline-block;
    transition: transform 0.3s ease;
  }

  &:hover .button__gear-icon {
    animation: spin 2s linear infinite;
  }

  &:active .button__gear-icon {
    animation: spin 0.5s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}