@use "../mixins/form-page-styles" as *;

.create-expense-page {
  @include form-page-styles;
}

.source-mode {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  & .source-input {
    margin-right: 0.25rem;
  }
}
