@use "../base/global";

$min-width: 8rem;
$padding: 0.25rem;

.envelope-card {
  --font-size: 1rem;

  display: flex;
  flex-direction: column;

  min-width: 0;
  aspect-ratio: 256 / 170;

  padding: 0 $padding;
  border-radius: 5px;

  cursor: pointer;
  background-color: hsl(180, 44%, 97%);
  background-image: url("../../media/envelope-background-256x170.svg");
  background-size: cover; // or contain
  background-position: center;
  background-repeat: no-repeat;

  &:hover {
    border: 2px solid #10bcbc;
  }

  &__name {
    width: 100%;
    height: 61.8%;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    font-size: calc(var(--font-size));
    line-height: 1.25;

    .ellipsis-wrapper {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__amount {
    width: 100%;
    height: 38.2%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: calc(var(--font-size) * 0.7);
  }
}
