@use "../base/global";
@use "../base/typography";

.envelope {
  &__header {
    background-color: var(--envelope-color);
    width: 100vw;
    margin-left: -0.5rem;

    display: flex;
    flex-direction: column;

    &-row {
      min-height: 9rem;
      display: flex;
    }

    &-content {
      width: 100%;
      display: flex;
      flex-direction: column;

      overflow: hidden; // !!!
    }

    &-bar {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      padding: 1rem;
    }
  }

  &__name {
    margin: 1rem 0 0.5rem 1rem;
    padding: 0 0 0 0.5rem;
    border-bottom: 2px solid transparent;

    font-size: 2.5rem;
    font-weight: 400;
    line-height: typography.$line-height-base;
    letter-spacing: typography.$letter-spacing-normal;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    cursor: default;
  }

  &__name-input {
    margin: 1rem 0 0.5rem 1rem;
    padding: 0 0 0 0.5rem;
    border: none;
    border-bottom: 2px solid black;

    font-size: 2.5rem;
    line-height: typography.$line-height-base;
    letter-spacing: typography.$letter-spacing-normal;
    background-color: var(--envelope-color);
    filter: brightness(90%);

    &:focus {
      outline: none;
    }
  }

  &__subheading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-right: 0.5rem;
  }

  &__subheading {
    margin: 0.5rem 0;
  }

  &__edit-controls {
    display: flex;
    gap: 1rem;
  }

  &__description {
    margin: 0 0 1rem 1rem;
    padding: 0.5rem 0 0.5rem 0.5rem;

    letter-spacing: typography.$letter-spacing-normal;
    line-height: typography.$line-height-base;
  }

  &__description-input {
    min-height: 33px;
    margin: 0 0 1rem 1rem;
    padding: 0.5rem 0 0.5rem 0.5rem;

    letter-spacing: typography.$letter-spacing-normal;
    line-height: typography.$line-height-base;

    background-color: transparent;
    border: none;
    border: 1px dashed black;
    resize: vertical;

    &:focus {
      outline: none;
    }
  }

  &__color-input {
    padding: 0.5rem;
    background-color: global.$background-color;
    margin-bottom: 1rem;
  }

  .edit-envelope-funds {
    display: flex;
    flex-direction: column;

    width: 100vw;
    margin-left: -0.5rem;
    padding: 0 0.5rem 0.5rem 0.5rem;
    margin-top: 1rem;

    &__item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .label-difference-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    font-size: 1.125rem;
  }

  .funds-difference {
    text-wrap: nowrap;

    &--positive {
      color: global.$primary-green;
    }

    &--negative {
      color: global.$primary-red;
    }
  }

  .input-with-currency {
    display: flex;
    width: 100%;
    border-radius: 5px;

    &:focus-within {
      outline: 2px solid #10bcbc;
    }

    &__currency {
      background-color: white;
      font-size: 1.125rem;
      border-radius: 5px 0 0 5px;
      padding-left: 0.25rem;
    }

    &__input {
      width: 100%;
      flex-grow: 1;
      border-radius: 0 5px 5px 0;
      border: none;
      background-color: white;

      &[type="text"]:focus {
        outline: none;
      }
    }
  }
}
