.envelope-overview {
  &__nav-back {
    padding-top: 1rem;
    padding-bottom: 0.625rem;
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__edit-icon {
      margin-left: auto;
    }
  }
}
