@use "./EnvelopeCard";

.envelopes-page {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;

  &__envelopes {
    padding: 0.5rem 0;
  }

  &__loading-message {
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 1.5rem 0 0.5rem 0;
  }

  &__heading {
    margin: 0
  }

  &__cards-container {
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(EnvelopeCard.$min-width, 1fr)
    );
    justify-items: stretch;
    gap: 3vw;
    margin: 0 2%;
  }
}

.manage-envelopes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 1rem 0.5rem;

  &__saving-message {
    margin: 0 1rem 0 0;
    font-size: 1.125rem;
  }
}

.new-expense-button {
  position: absolute;
  right: 1rem;
  z-index: 20;
  transition: opacity 0.3s ease;

  &.overlapping {
    opacity: 0.5;
  }

  &.large-margin {
    bottom: 5.125rem;
  }

  &.small-margin {
    bottom: 1rem;
  }
}
