.goals-page {
  &__heading {
    margin: 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 1.5rem 0 0.5rem 0;
  }

  &__goals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0.5rem;
  }

  &__cards-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 1rem;
  }
}
