.login-page {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__greeting {
    font-size: 2rem;
    margin-bottom: 0;
  }

  &__switch-mode {
    margin-top: 0.25rem;
    line-height: 1;
    cursor: pointer;
    text-decoration: underline;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;

    & .form-input {
      width: 100%;
      flex-grow: 1; // doesn't hurt?

      border: none;
      border-radius: 5px;
      font-size: 1.125rem;

      &[type="text"]:focus,
      &[type="date"]:focus,
      &[type="password"]:focus {
        outline: 2px solid #10bcbc;
      }
    }

    &__submit-btn {
      margin-top: 0.5rem;
      display: flex;
    }
  }
}
