@use "../base/global";

.profile-page {
  &__heading {
    margin: 1.5rem 0 0.5rem 0;
  }
}

.funds {
  &__category {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__info {
      margin-left: 0.5rem;
    }

    &__edit-icon {
      margin-left: auto;
    }

    &__warning {
      display: flex;
      border: 3px solid hsl(240, 84%, 80%);
      background-color: hsl(240, 34%, 80%);

      &__text {
        padding: 0 0.5rem;
        font-size: 0.875rem;
      }
    }
  }
}
