@use "../base/global";
.progress-bar {
  position: relative;
  height: 2rem;
  border: 1px solid black;
  border-radius: 1rem;
  overflow: hidden;
  font-size: 1.125rem;
  display: flex;

  &--thin {
    height: 1.25rem;
    font-size: 1rem;
    background-color: white;
  }

  &__bar {
    --bar-width: 50%;
    width: var(--bar-width);
    height: 100%;
    background-color: global.$primary-green;
    transition: width 0.5s ease-out;

    position: relative;
  }

  &__negative-bar {
    --negative-bar-width: 20%;
    width: var(--negative-bar-width);
    background-color: global.$tertiary-green;
    height: 100%;
    transition: width 0.5s ease-out;

    position: absolute;
    right: 0;
  }

  &__positive-bar {
    --positive-bar-width: 50%;
    width: var(--positive-bar-width);
    background-color: global.$secondary-green;
    height: 100%;
    transition: width 0.5s ease-out;
  }

  &__percentage {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
}
