@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin form-page-styles {
  padding-bottom: 1rem; // or 0.5

  &__nav-back {
    padding-top: 1rem;
    padding-bottom: 0.625rem;
  }

  &__heading {
    font-size: 1.5rem;
    margin: 0;
  }

  &__description {
    margin-top: 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
  }

  .form-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0.375rem;

    &__input {
      width: 100%;
    }

    &__submit-btn {
      margin-left: auto;
    }

    .checkbox-label {
      font-size: 1rem;
    }

    p {
      font-size: 1.125rem;
      margin: 0;
    }

    &__date {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      &__input {
        flex-grow: 1;
        margin-right: 1rem;
      }

      &__checkbox {
        margin-right: 0.25rem;
      }
    }

    &__input-with-currency {
      display: flex;
      width: 100%;
      border-radius: 5px;

      &:focus-within {
        outline: 2px solid #10bcbc;
      }

      &__currency {
        background-color: white;
        font-size: 1.125rem;
        border-radius: 5px 0 0 5px;
        padding-left: 0.25rem;
      }

      &__input {
        flex-grow: 1;
        border-radius: 0 5px 5px 0;

        &:focus {
          // &[type="text"]:focus {
          outline: none;
        }
      }
    }

    &__colors {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &__color-box {
      width: 1.25rem;
      height: 1.25rem;
      border: none;
      cursor: pointer;

      &.active {
        outline: 1px solid black;
      }
    }
  }
}
