@use "typography";

$background-color: #e2e9e9;
$primary-blue: #10bcbc;
$primary-green: #10bc66;
$primary-red: #bc1010;
$secondary-blue: #5ebcbc;
$secondary-red: hsl(0, 84%, 64%);
$primary-yellow: #bcbc10;
$pale-light-yellow: #f6f6d5;
$border-color: hsl(180, 14%, 70%);

* {
  box-sizing: border-box;
}

html {
  font-size: typography.$font-size-base;
}

body {
  font-family: typography.$font-primary;
  font-size: typography.$font-size-base;
  font-weight: typography.$font-weight-regular;
  line-height: typography.$line-height-base;
  letter-spacing: typography.$letter-spacing-normal;
  background-color: $background-color;
}

.no-margin {
  margin: 0;
}

.no-margin-top {
  margin-top: 0;
}

.hidden-from-sight {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
